<!DOCTYPE html>
<html lang="en">
<style>
  @font-face {
    font-family: "scsans";
    src: url("../fonts/SCProsperSans-Bold.ttf");
  }

  @font-face {
    font-family: "scsanslight";
    src: url("../fonts/SCProsperSans-Light.ttf");
  }

  @font-face {
    font-family: "scsansmedium";
    src: url("../fonts/SCProsperSans-Medium.ttf");
  }

  @font-face {
    font-family: "scsansregular";
    src: url("../fonts/SCProsperSans-Regular.ttf");
  }

  h1 {
    font-family: "scsans";
  }

  .medium {
    font-family: "scsansmedium";
  }

  .light {
    font-family: "scsanslight";
  }

  .regular {
    font-family: "scsansregular";
  }
</style>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="css/main.css">
</head>

<body>
  <h1>Hello World</h1>
  <span class="medium">Hello World</span>
  <span class="light">Hello World</span>
  <span class="regular">Hello World</span>
  <h2>
    <%= text %>
  </h2>
  <a href="/about">About Page</a>
</body>

</html>